.festivals {
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: #efefef;
}

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
    width:960px;
    border-left: 10px solid hsl(335, 100%, 47%);
	margin: 0 auto -142px auto; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 142px; /* .push must be the same height as .footer */
}
.footer, .push {
clear: both;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
/*header*****************************************/

.page_header {
  font-family: 'Amaranth', serif;
  height: 200px;
}

h1 {
  padding-top: ;
  font-family: 'Amaranth', serif;
  font-size: 8em;
  margin-left:-14px;
  color: hsl(335, 100%, 47%);
  font-weight:heavy;
  /*border-bottom: hsl(335,100%,47%) 3px solid;*/
}


#header{
margin-bottom:96px;
}


/***********************************************/

/*body******************************************/
h2 {
    font-size:3em;
    font-family:'Amaranth', serif;
    display:inline-block;
}
.score{
    font-size:3.5em;
    font-family:'Amaranth',serif;
    color:#bcbcbc;
}
#meta{
    text-transform:lowercase;
    margin:24px 0;
    font-size:.8em;

}



ul.nav {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  font-size: 0.8em;
}

ul.nav li {
  display: block;
  float: left;
  width: 100px;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.nav li a {
  display: block;
  width: 100%;
  padding: 0.5em;
  border-width: 1px;
  border-color: #ffe #aaab9c #ccc #fff;
  border-style: solid;
  color: #777;
  text-decoration: none;
  background: #f7f2ea;
}


.festival_listing{
    padding:24px;
}
