.festivals {
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: #ddd;
}

#page_content {
  background-color: #ddd;
}

#page_footer {
  background-color: #ddd;
}

.page_header {
  font-family: 'Amaranth', serif;
  background-image:url('http://placekitten.com/g/940/200');
  height: 200px;
}

.page_header h1 {
  padding-top: 30px;
  font-family: 'Amaranth', serif;
  font-size: 128px;
  color: hsl(335, 100%, 47%);
}

ul.nav {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 80%;
  font-size: 0.8em;
}

ul.nav li {
  display: block;
  float: left;
  width: 100px;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.nav li a {
  display: block;
  width: 100%;
  padding: 0.5em;
  border-width: 1px;
  border-color: #ffe #aaab9c #ccc #fff;
  border-style: solid;
  color: #777;
  text-decoration: none;
  background: #f7f2ea;
}

.festival h1 {
  padding-top: 30px;
  font-size: 36px;
  border-bottom: 1px solid hsl(335, 100%, 47%);
  margin-bottom: 10px;
}
