<div id="about">
  <h2>Lovingly created by team <a href="http://github.com/chsrockit">chsrockit</a>: </h2>
  <ul>
    <li>@simonv3</li>
    <li>@robertpeacock22</li>
    <li>@devonwalshe</li>
    <li>@brunopanara</li>
    <li>@jonzo1</li>
  </ul>
  <p>for <a href="http://culturehackscotland.com">Culture Hack Scotland</a>.</p>
  <h2>Credits</h2>
  <p>Using data from <a href="http://culturehackscotland.com/data">Culture Hack Scotland 2011</a> participants:</p>
  <ul>
    <li>Edinburgh's Summer Festivals — complete listing API (2010), by <a href="http://projects.festivalslab.com/">festivalslab</a></li>
    <li>The <a href="http://content.guardianapis.com/">Guardian Content API</a></li>
    <li><a href="http://list.co.uk">The List</a></li>
    <li><a href="http://threeweeks.co.uk">Three Weeks</a></li>
  </ul>
  <h2>See our other project</h2>
  <p><a href="http://wtfringe.com/">WTFringe</a>. Totally <abbr title="Not safe for work">NSFW</abbr>.</p>
</div>
