<div id="home">
    <h2>all festival reviews, in one easy place</h2>
    <h3><%=link_to "Festivals", {:controller=>:festivals, :action=>:index}%></h3>

    <h3><%=link_to "Venues", {:controller=>:venues, :action=>:index}%></h3>

    <h3><%=link_to "Shows", {:controller=>:shows, :action=>:index}%></h3>

    <div id="partners">
        stealing from:
        <a target="_blank" href="http://www.edfringe.com" class="icon"><img src="/images/fringe.png"/></a>
        <a target="_blank" href="http://www.theguardian.co.uk" class="icon"><img src="/images/guardian.png"/></a>
        <a target="_blank" href="http://www.threeweeks.co.uk" class="icon"><img src="/images/threeweeks.png"/></a>
        <a target="_blank" href="http://www.list.co.uk" class="icon"><img src="/images/thelist.png"/></a>
        <a target="_blank" href="http://www.festmag.co.uk" class="icon"><img src="/images/fest.png"/></a>
    </div>
    <div id="break">
        <ul>
            <li id="best_reviewed" class="front_box">
                <h4>Best Rated</h4>
                <p>This is some text</p>
            </li>
            <li id="most_reviewed" class="front_box">
                <h4>Most Reviewed</h4>
                <p>This is some more text that will break a line</p>
            </li>
            <li id="most_reviews" class="front_box">
                <h4>Best Reviewer</h4>
                <p>NONONONO that is the final countdown.    </p>
            </li>
        </ul>
        <ul id="small_boxes">
            <li class="mini_box">
                
            </li><li class="mini_box">
            </li>
        </ul>
    </div>

</div>
