<div id="home">
    <h2>all festival reviews, in one easy place</h2>
    <h3><%=link_to "Festivals", {:controller=>:festivals, :action=>:index}%></h3>

    <h3><%=link_to "Venues", {:controller=>:venues, :action=>:index}%></h3>

    <h3><%=link_to "Shows", {:controller=>:shows, :action=>:index}%></h3>
    

    <div id="partners">
        borrowing from:
        <a target="_blank" href="http://www.edfringe.com" class="icon"><img src="/images/fringe.png"/></a>
        <a target="_blank" href="http://www.theguardian.co.uk" class="icon"><img src="/images/guardian.png"/></a>
        <a target="_blank" href="http://www.threeweeks.co.uk" class="icon"><img src="/images/threeweeks.png"/></a>
        <a target="_blank" href="http://www.list.co.uk" class="icon"><img src="/images/thelist.png"/></a>
        <a target="_blank" href="http://www.festmag.co.uk" class="icon"><img src="/images/fest.png"/></a>
    </div>
    <div id="break">
        <ul>
            <a href="http://festivalsreview.com/shows/3-drama-workshops-for-5-14s"><li id="best_reviewed" class="front_box">
                <h4>Best Rated</h4>
                <h5><span class="score">92.0</span> Drama Workshops for 5-14s</h5>
                <p>
                Different each day, including 'Star Wars: Jedi Knight Academy', 'Doctor Who', 'Hannah Montana', 'Horrible Histories', 'High School Musical', 'Ben 10', 'Harry Potter', Roald Dahl, 'Mamma Mia', 'Tracy Beaker', 'Matilda', secret agents, 'Narnia', fairies, dr...
                </p>
            </li></a>
            <a href="http://festivalsreview.com/shows/29-addy-van-der-borgh--advanced-mumbo-jumbo"><li id="best_reviewed" class="front_box">
                <h4>Most Reviewed</h4>
                <h5><span class="score">59.0</span> Addy Van Der Borgh: Advanced Mumbo Jumbo</h5>
                <p>
                A show about the different ways we communicate, 'Advanced Mumbo Jumbo' also covers basic Jibba Jabba and intermediate Double Dutch, among other bits and bobs. Students of Gobbledygook may also be interested in this show. Or maybe not. But then again, mayb...
                </p>
            </li></a>
                        <a href="http://festivalsreview.com/shows/31-edinburgh-literary-pub-tour"><li id="best_reviewed" class="front_box">
                <h4>Popular</h4>
                <h5><span class="score">36.0</span> Edinburgh Literary Tour</h5>
                <p>
               Join the intrepid duo, Clart (as in muck!) and our clean-hankied intellectual McBrain, who will lead you on a brilliant and witty dramatic romp through the wynds, courtyards and pubs of Edinburgh's Old and New Town. A hilarious duel of wits across 300 yea...
               </p>
            </li></a>

               </ul>
        <ul id="small_boxes">
            <li class="mini_box">
                
            </li><li class="mini_box">
            </li>
        </ul>
    </div>

</div>
