<div id="home">
    <h2>all festival reviews, in one easy place</h2>
    <h3><%=link_to "Festivals", {:controller=>:festivals, :action=>:index}%></h3>

    <h3><%=link_to "Venues", {:controller=>:venues, :action=>:index}%></h3>

    <h3><%=link_to "Shows", {:controller=>:shows, :action=>:index}%></h3>

</div>
