<div id="home">
    <h2>all festival reviews, in one easy place</h2>
    <h3><%=link_to "Festivals", {:controller=>:festivals, :action=>:index}%></h3>

    <h3><%=link_to "Venues", {:controller=>:venues, :action=>:index}%></h3>

    <h3><%=link_to "Shows", {:controller=>:shows, :action=>:index}%></h3>

    <div id="partners">
        stealing from:
        <a target="_blank" href="http://www.edfringe.com"><img src="/images/fringe.png"/></a>
        <a target="_blank" href="http://www.theguardian.co.uk"><img src="/images/guardian.png"/></a>
        <a target="_blank" href="http://www.threeweeks.co.uk"><img src="/images/threeweeks.png"/></a>
        <a target="_blank" href="http://www.list.co.uk"><img src="/images/thelist.png"/></a>
        <img src="/images/fest.png"/>
    </div>
    <div id="break">
        <ul>
            <li id="best_reviewed" class="front_box">
                <h4>Best Reviewed</h4>
            </li>
            <li id="most_reviewed" class="front_box">
                <h4>Most Reviewed</h4>
            </li>
            <li id="most_reviews" class="front_box">
                <h4>Best Reviewer</h4>
            </li>
        </ul>
        <ul id="small_boxes">
            <li class="mini_box">
                
            </li><li class="mini_box">
            </li>
        </ul>
    </div>

</div>
