<h2>Fringe Festival Venues</h2>

<table class="listings">

<% @venues[(1..40)].sort_by {|v| -1*v.score}.each do |venue| %>
  <tr>
    <td class="score"><%=h venue.score.round(2) %></td>
    <td><%= link_to venue.name, venue %></td>
  
    <td><%=h venue.address %></td>
  </tr>
<% end %>
</table>

<br />

