<h2>Fringe Festival Venues</h2>

<table class="listings">

<% @venues.each do |venue| %>
  <tr>
    <td class="score"><%=h venue.score %></td>
    <td><%= link_to venue.name, venue %></td>
  
    <td><%=h venue.address %></td>
  </tr>
<% end %>
</table>

<br />

