<div class="festivals_listing grid_12">
<% @festivals.each do |festival| %>
<div class="festival">
  <h1><%= festival.name %></h1>
  <div class="date_range">
    <span class="date"><%= l festival.start_date, :format => "%d/%m/%Y" %></span> - <span class="date"><%= l festival.end_date, :format => "%d/%m/%Y" %></span>
  </div>
  <div class="clear"></div>
  <div>Score: <span class="score"><%=h festival.score %></span></div>
  <ul class="nav">
    <li><a href="#">Shows</a></li>
    <li><a href="#">Venues</a></li>
  </ul>
</div>
<% end %>
</div>
