<h2>Festival Name Shows</h2>

<table class="listings">

<% @shows[(1..20)].each do |show| %>
  <tr>
    <td class="score <%if show.reviews.length > 0 %>reviewed<%end%>"><%=h show.score %></td>
    <td><%=link_to show.name, show %></td>
    <!--<td><%=h show.start_date %></td>
    <td><%=h show.end_date %></td>-->
  </tr>
<% end %>
</table>

<br />

